node_modules
dist
.env
.env.local
.git
.gitignore
.gitattributes
Dockerfile.backend
Dockerfile.frontend
.dockerignore
docker-compose.yml
vite.config.js
index.html
src
*.md
!package-lock.json
!.env.docker
!.env.example